body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/*Header Section--*/
 #header {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   position: fixed;
   background-color: black;
   align-items: center;
   height: 69px;
   width: 1200px;
   border-bottom: 1px solid seashell;
 }

 #header
 .flex-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }

 #header a {
   text-decoration: underline;
   color: white;
   padding-right: 20px;
   padding-left: 20px;
 }

 nav {
   text-align: right !important;
   flex-grow: 1;
}

 #header img {
   height: 50px;
   padding-left: 10px;
 }
 /*Main Content Section--*/

.content {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}


 /*Mission Section--*/
#mission {
  display: flex;
  height: 700px;
  width: 1200px;
  padding-top: 70px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

#mission .content {
  background-color: black;
  text-align: center;
  align-items: center;
}

h2, h4 {
  margin: 0;
  padding: 10px;
}

 /*Store Section--*/
#store {
  width: 1000px;
  height: 700px;
  padding-top: 70px;
  margin:auto;
}

.item {
  padding: 10px;
}

.item img {
  height: 200px;
  width: 300px;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#store img {
  height: 200px;
  width: 300px;
}

#store
.flex-container-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
 /*Locations Section--*/
#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  padding-top: 70px;
}

#locations
.container-locations {
  margin: auto;
  width: 1100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  flex-basis: 280px;
}
 /*Contact Section--*/
 #contact {
   height: 200px;
   width: 1200px;
 }

 /*Footer Section--*/
 #footer {
   height: 200px;
}

#footer h5 {
   padding-left: 20px;
   text-align: left;
 }
